:root {
  --primary-color: #6c63ff;
  --secondary-color: #fff;
  --button-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
  opacity: 0.75;
}

h1,
h3 {
  text-align: center;
  margin: 0;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-button,
.about-button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  color: white;
}

.contact-button {
  background: var(--primary-color);
}

.about-button {
  color: var(--primary-color);
}
